[auth]
password = "YOUR_SHARED_SITE_PASSWORD"

[baserow]
url = "https://storage.princess-jewelry.com"
token = "YOUR_DATABASE_TOKEN"
database_id = 148
souvenirs_table_id = 642
components_table_id = 643
operations_table_id = 644
supplies_table_id = 645
supply_lines_table_id = 646
email = "YOUR_BASEROW_EMAIL"
password = "YOUR_BASEROW_PASSWORD"
